* {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: Hoshinoko;
  src: url(/DevDishProject/lib/Hoshiko\ Satsuki.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(/DevDishProject/lib/RobotoMono-VariableFont_wght.ttf);
}

/* 
html{
  filter: grayscale(100%);
} */

body {
  margin: 0;
  background: #27213c;
  background: linear-gradient(#27213c, black);

  /* ensure footer sticks to bottom */
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

main {
  /* take up remaining space so footer is pushed down */
  flex: 1;
}

header {
  height: 25vh;
  display: flex;
  align-items: center;
  background: linear-gradient(#000000, #27213c);
}

.navLinks {
  display: flex;
  margin-left: 30%;
  justify-content: space-between;
  width: 50%;
}

/* make navigation links black with black underline */
.navLinks a {
  padding: 0.7vw;
  border-radius: 30px;
  background-color: #ffffff44;
  color: #f0a202;
  text-decoration: none;
  font-family: Hoshinoko;
  font-size: 1.6rem;
}

.navLinks a:hover {
  /* optional hover effect, keep same color or change */
  color: #D95D39;
}


#logoHeader {
  height: 18vh;
  margin-left: 3vw;
}


footer {
  background: #000000;
  opacity: 86%;
  color: #eaeaea;
  padding: 60px 10%;

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
  gap: 40px;
  justify-content: center;
  text-align: center;
}

#footerLogoIMG {
  height: 7vw;
}


.footer-text {
  color: #bdbdbd;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.6;
  list-style-type: none;
}

.footer-title {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;

}

.footer-links a {
  display: block;
  text-decoration: none;
  color: #bdbdbd;
  margin-bottom: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #222;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
  color: #9a9a9a;
}

.socials a {
  text-decoration: none;
  color: #bdbdbd;
  margin-left: 15px;
  font-size: 14px;
}

.socials a:hover {
  color: white;
}



/* Home */
#topInhoudHome {
  margin-top: 25vh;
  max-width: auto;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#kopTekstHome {
  font-family: RobotoMono;
  font-size: 7rem;
}

#bijTekstHome {
  margin-bottom: 20vh;
  font-family: RobotoMono;
  font-size: 1.8rem;
}

#takeoutENbestellen {
  width: 18vw;
  display: flex;
  justify-content: space-between;
}

.knoppenBoxHome {
  padding: 10vw;
  font-family: RobotoMono;
  font-size: 1.2rem;
  padding: 0.7vw;
  border-radius: 30px;
  background-color: #ffffff44;
  text-decoration: none;
  color: #000000;
}

/* #box{
  position: relative;
  width: auto;
  height: 20vh;

  color: #000000;
  margin-top: 30vh;
  background: linear-gradient(#27213c  , #000000);
} */

#umamiBG {
  margin-top: 50vh;
  width: 100%;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}

#mainBoxHome {
  z-index: 10;
}